# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
drupal8/sites/default/files/css/*
drupal8/sites/default/files/js/js_*
drupal8/sites/default/files/php/twig/*

